h1{
    color: blue;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.logo{
    font-size: 20px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #fdfdfd;
    margin: 0px 600px 0px 30px;
    text-decoration: none;
}
body{
    background-color: #222;
}

img{
    padding: 0px;
    margin: 3px 0px 0px 0px;
    height: 380px;
    width: 1280px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.all{
    background-color: green;
    border: 1px solid;
    color: #fff;
}

.w3-bar-item .w3-button{
    text-align: center;
    font-size: 17px;
}